// Typography

    // Fonts
    $regular-font: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
    $title-font: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
    $subtitle-font: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
    $caption-font: 'Playfair Display', serif !default;

    // colors
    $link-color: #999 !default;
    $link-color-over: darken($link-color, 15%) !default;
    $text-color: #222 !default;
    $inverse-text-color: #eee !default; // For use on dark backgrounds
    $subtitle-color: #aaaaaa !default;
    $caption-color: #777 !default;
    $border-color: #e5e5e5 !default;

    // Sizes
    $regular-text-size: 14px !default;
    $title-text-size: 18px !default;
    $caption-text-size: 12px !default;

// Layout

    // Footer
    $footer-height: 262px !default;